.product-list {
  background-color: white;
  padding: 20px; /* Adjust padding as needed */
  height: 100vh; /* Full height */
}

.title {
  font-family: 'Roboto', sans-serif; /* Make sure you import the font in index.html or use a font from Google Fonts */
  font-size: 24px; /* Adjust size to match Figma */
  font-weight: 500; /* Adjust weight */
  line-height: 25px; /* Adjust line height */
  margin-bottom: 20px; /* Space below the title */
}

.columns {
  display: flex;
  justify-content: center; /* Center the columns horizontally */
  width: 100%; /* Ensure full width */
  margin-bottom: 5px;
}

.column {
  flex: 1; /* Allows columns to take equal space */
  text-align: center; /* Align text to the left */
  margin-right: 20px;
  max-width: 300px;
}

.column:last-child {
  margin-right: 0; /* Remove right margin from the last column */
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 1;
}
.product-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;
  height: 31px;
  background: #ffffff;
}

.serial-number {
  font-size: 14px;
  margin-right: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  padding: 5px;
  padding-right: 10px;
  padding-block: 0;
  border-radius: 4px;
  width: 270px;
  height: 31px;
}

.product-name {
  margin-right: 10px; /* Space between name and edit button */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  font-size: 14px; /* Adjust font size */
  font-weight: 400; /* Adjust font weight */
  line-height: 21px; /* Set line height */
  text-align: left; /* Align text to the left */
  color: #000; /* Optional: Set text color, adjust as needed */
}

.edit-button {
  width: 15.98px; /* Set width as per Figma */
  height: 16px; /* Set height as per Figma */
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor for clickable */
  opacity: 1; /* Set opacity to 1 to make it visible */
}

.discount-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

.discount-input {
  width: 69px;
  height: 31px;
  border: 1px solid #0000001a;
  background: #ffffff;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px #0000001a;
}

.discount-type {
  width: 95px;
  height: 31px;
  border: 1px solid #0000001a;
  background: #ffffff;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px #0000001a;
}

.delete-button {
  background: none;
  border: none;

  font-size: 16px; /* Adjust size */
  width: 13px;
  height: 13px;
  color: #00000066;
  opacity: 1;
  cursor: pointer;
}
.delete-button:hover {
  color: red; /* Change background color to red on hover */
}

.add-product-button {
  width: 193px;
  height: 48px;
  margin: 20px auto; 
  background-color: white; 
  color: #008060; 
  border: 2px solid #008060; 
  border-radius: 4px; 
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: block; 
  line-height: 48px; 
}
 
.add-product-button:hover {
  background-color: #008060; 
  color: white; 
}
.variant-row {
 
  font-size: 0.9em; 
}

.show-variants-container {
  margin-left: 60px;
}

.show-variants {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  /* margin-bottom: 10px; */
  padding-block: 10px;
}

.show-variants:hover {
  color: darkblue;
}

/* Modal styling */

.product-variant {
  padding-left: 16px;
}
.product-picker-content {
  max-height: 450px; 
  overflow-y: auto; 
  /* padding: 20px; */
  overflow-x: hidden;
  margin-top: 10px;
  margin-inline: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-container {
  
 
  padding-bottom: 5px; 
}

.product-container .product-row {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
  width: 100vw;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.product-container .product-row img{
  width: 35px;
  height: 35px;
  border-radius: 4px;
  margin-left: 15px;
}

.product-title {
  margin-left: 10px; 
  font-weight: 400; 
  flex-grow: 1; 
  font-size: 16px;
  line-height: 24px;
}

.product-picker-content .variants-container {
}
  
  

.product-container .variant-row {
  display: flex; 
  align-items: center; 
  /* margin-bottom: 5px;  */
  border-bottom: 1px solid #e0e0e0;
  width: 100vw;
  gap: 10px;
  padding-left: 35px;
  padding-bottom: 3px;
}

.variant-title {
  margin-left: 10px; /* Space between checkbox and variant title */
}

/* Add styles for buttons */
.add-button {
  
  padding: 8px 20px; 
  background-color: #008060;
  border: 2px solid #008060;
  color: white; 
  border: 1px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.cancel-button{
  border: 1px solid #00000066;
  padding: 8px 20px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  color: #00000099;

}
.cancel-button:hover{
  background-color:#00000066 ;
}

.add-button:hover {
  background-color: #45a049; /* Darker green on hover */
}



input[type='checkbox'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #008060;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
}

input[type='checkbox']:checked {
  background-color: #008060;
  border-color: #008060;
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.modal-content .modal-footer{
    display: flex;
    justify-content: space-between;
    margin-inline: 25px;
    align-items: center;
    padding-top: 10px;
}
.modal-footer .footer-right{
  display: flex;
  gap: 10px;
}
.modal-footer .footer-left{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.variant-row .product-row{
  max-width: 240px;
}
.variant-row .column-flex{
  display: flex;
  justify-content: flex-end;
  
}